
.footer {
    padding: 50px 0;
    background-color: rgb(230, 110, 66);
    margin-top: 50px;
    color: rgb(237, 233, 233);
}


.PuXQrZ {
    margin-bottom: 30px;
    color: rgb(237, 233, 233);
}


.JMCbqu {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
    color: rgb(237, 233, 233);
}

.D7qxb9 {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: rgb(237, 233, 233);
}

.o8Gbgv {
    margin-bottom: 10px;
    color: rgb(237, 233, 233);
}


.FA0WjS {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
    color: rgb(237, 233, 233);
}

.FA0WjS:hover {
    color: #f05a28;
    color: rgb(237, 233, 233);
}


._6ZyW8Y {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    color: rgb(237, 233, 233);
}


.DmgODQ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    color: #666;
    flex-direction: column;
    gap:20px;
    color: rgb(237, 233, 233);
}

._9RQPzN {
    display: flex;
    align-items: center;
    color: rgb(237, 233, 233);
}


.HKksoM {
    margin-right: 10px;
    color: rgb(237, 233, 233);
}

.WrjDUh {
    text-decoration: none;
    color: #666;
    color: rgb(237, 233, 233);
}

.WrjDUh:hover {
    color: #f05a28;
    color: rgb(237, 233, 233);
}
.ibAPxC{
    display: flex;
    justify-content: center;
    gap:50px;   
    color: rgb(237, 233, 233);
}
.color{
    color: rgb(237, 233, 233);
  }
  a{
    color: rgb(237, 233, 233);
  }
  .xTjlXx{
    color: rgb(237, 233, 233);
  }